/* Container */
$container: 90%;
$container-width: 980px;

/* Grid Calculations */
$grid: 100%;
$grid-margin: 1%;

/* Media Querie Min-Width */
$mobile-portrait: 320px;
$mobile-landscape: 480px;
$small-tablet: 600px;
$tablet-notebook: 768px;
$landscape-tablet: 1024px;
$desktop: 1280px;
$widescreen: 1440px;

/* Micro Clearfix Hack */
.cf:before, .cf:after {
	content: ""; /* For modern browsers */
	display: table; /* For modern browsers */
} 

.cf:after {
	clear: both;
}

.cf {
	zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/* Container */
.container {
	width: $container;
	max-width: $container-width;
	margin: auto;
}

/* Column Grid */
.grid {
	display: block; 
	position: relative; 
	width: $grid;
}

/* media Queriess */

/* Mobile Portrait */
@media only screen and (min-width: $mobile-portrait) {
	body {
		font-size: 1em;
	}	
}

/* Mobile Landscape */
@media only screen and (min-width: $mobile-landscape) {
	body {
		font-size: 1.125em;
	}
}

/* Small Tablet */
@media only screen and (min-width: $small-tablet) {
	body {
		font-size: 1.25em;
	}
}

/* Tablet/Notebook */
@media only screen and (min-width: $tablet-notebook) {
	body {
		font-size: 1.375em;
	}	 	
	
	/* Column Grid */
	.grid {
		display: inline; 
		float: left;
	}
	
	/* 2 Column Grid */
	.half {
		width: $grid/2 - 2*$grid-margin;
		margin-left: $grid-margin;
		margin-right: $grid-margin;
	}
	
	/* 3 Column Grid One Third */
	.one-third {
		width: $grid/2 - 2*$grid-margin;
		margin-left: $grid-margin;
		margin-right: $grid-margin;
	}
	
	/* 3 Column Grid Two Third */
	.two-third {
		width: $grid/2 - 2*$grid-margin;
		margin-left: $grid-margin;
		margin-right: $grid-margin;
	}
	
	/* 4 Column Grid */
	.fourth {
		width: $grid/2 - 2*$grid-margin;;
		margin-left: $grid-margin;
		margin-right: $grid-margin;
	}
	
	/* 6 Column Grid Two Third */
	.sixth {
		width: $grid/3 - 2*$grid-margin;
		margin-left: $grid-margin;
		margin-right: $grid-margin;
	}
	
	/* 8 Column Grid */
	.eighth {
		width: $grid/4 - 2*$grid-margin;
		margin-left: $grid-margin;
		margin-right: $grid-margin;
	}
	
}

/* Landscape Tablet/Notebook/Laptop */
@media only screen and (min-width: $landscape-tablet) { 	
	body {
		font-size: 1.375em;
	}
	
	/* 1 Column Grid */
	.full {
		width: $grid - 2*$grid-margin;
		margin-left: $grid-margin;
		margin-right: $grid-margin;
	}
	
	/* 2 Column Grid */
	.half {
		width: $grid/2 - 2*$grid-margin;
		margin-left: $grid-margin;
		margin-right: $grid-margin;
	}
	
	/* 3 Column Grid - 3 Column Grid One Third  */
	.third, .one-third {
		width: $grid/3 - 2*$grid-margin;
		margin-left: $grid-margin;
		margin-right: $grid-margin;
	}	
	
	/* 3 Column Grid Two Third */
	.two-third {
		width: $grid/3*2 - 2*$grid-margin;
		margin-left: $grid-margin;
		margin-right: $grid-margin;
	}
	
	/* 4 Column Grid */
	.fourth {
		width: $grid/4 - 2*$grid-margin;
		margin-left: $grid-margin;
		margin-right: $grid-margin;
	}
	
	/* 5 Column Grid */
	.fifth {
		width: $grid/5 - 2*$grid-margin;
		margin-left: $grid-margin;
		margin-right: $grid-margin;
	}
	
	/* 6 Column Grid */
	.sixth {
		width: $grid/6 - 2*$grid-margin;
		margin-left: $grid-margin;
		margin-right: $grid-margin;
	}
	
	/* 7 Column Grid */
	.seventh {
		width: $grid/7 - 2*$grid-margin;
		margin-left: $grid-margin;
		margin-right: $grid-margin;
	}
	
	/* 8 Column Grid */
	.eighth {
		width: $grid/8 - 2*$grid-margin;
		margin-left: $grid-margin;
		margin-right: $grid-margin;
	}
	
}

/* Desktop */
@media only screen and (min-width: $desktop) {
	body {
		font-size: 1.375em;
	}	
}

/* Widescreen */
@media only screen and (min-width: $widescreen) { 
	body {
		font-size: 1.375em;
	}
}