/* Colors */
$background-color: #fff;
$main-color: #222;

/* HTML5 Boilerplate styles - h5bp.com (generated via initializr.com) */

html,
button,
input,
select,
textarea {
	color: $main-color;
}

html {
	font-size: 100%; 
	overflow-y: scroll; 
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0; 
	min-height: 100%; 
	-webkit-font-smoothing: antialiased; 
	font-smoothing: antialiased; 
	text-rendering: optimizeLegibility;
	color: $main-color;
	background-color: $background-color;
}

::-moz-selection {
	background: $main-color; 
	color: $background-color; 
	text-shadow: none; 
}

::selection { 
	background: $main-color; 
	color: $background-color; 
	text-shadow: none; 
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

img, video, canvas, object, embed {
	max-width: 100%;
	_width: 100%;
}

img {
	vertical-align: middle;
	border: 0;	
	-ms-interpolation-mode: bicubic; /* Improve IE's resizing of images */
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}